name: E2E Subtensor Tests

concurrency:
  group: e2e-subtensor-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main, development, staging]

  pull_request:
    branches: [main, development, staging]
    types: [ opened, synchronize, reopened, ready_for_review ]

  workflow_dispatch:
    inputs:
      verbose:
        description: "Output more information when triggered manually"
        required: false
        default: ""

env:
  CARGO_TERM_COLOR: always
  VERBOSE: ${{ github.event.inputs.verbose }}

jobs:
  run-tests:
    runs-on: SubtensorCI
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.draft == false }}
    timeout-minutes: 180
    env:
      RELEASE_NAME: development
      RUSTV: nightly-2024-03-05
      RUST_BACKTRACE: full
      RUST_BIN_DIR: target/x86_64-unknown-linux-gnu
      TARGET: x86_64-unknown-linux-gnu

    steps:
      - name: Check-out repository under $GITHUB_WORKSPACE
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update &&
          sudo apt-get install -y clang curl libssl-dev llvm libudev-dev protobuf-compiler

      - name: Install Rust ${{ env.RUSTV }}
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: ${{ env.RUSTV }}
          components: rustfmt
          profile: minimal
          override: true

      - name: Add wasm32-unknown-unknown target
        run: |
          rustup target add wasm32-unknown-unknown --toolchain nightly-2024-03-05
          rustup component add rust-src --toolchain nightly-2024-03-05

      - name: Clone subtensor repo
        run: git clone https://github.com/opentensor/subtensor.git

      - name: Setup subtensor repo
        working-directory: ${{ github.workspace }}/subtensor
        run: git checkout testnet

      - name: Install Python dependencies
        run: python3 -m pip install -e . pytest

      - name: Run all tests
        run: |
          LOCALNET_SH_PATH="${{ github.workspace }}/subtensor/scripts/localnet.sh" pytest tests/e2e_tests -s